@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #F0F0F0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 10px;
  border: 1px solid #050505;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #222222 #050505;
}
